*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;    
    justify-content: space-between;
    background-image: url(/image/stone.jpg);
    height: 100px;
    align-items: center;
    padding: 0 5rem;
    font-size: 20px;
    font-weight: bold;

    & .logo {
        & img{
            width: 100px;
            height: 80px;
            background-position: center;
            background-size: cover;
        }
    }

    & .menu{
            display: flex;
            list-style: none;
            font-family: Verdana;
            & li {
                margin: 0 1rem;
                & a{
                    color: yellow;
                    text-decoration: none;
            
                }

            }
    }
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;

        & .menu{
            margin-top: 2rem;
            flex-direction: column;
            align-items: center;
        }
    }
}
footer{
    display: flex;
    justify-content: space-between;   
    background-color: gray;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5rem;   
    font-size: 10px;
    font-family: Arial;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
.timestamp {
    background-image: url(https://www.zarla.com/images/zarla-clock-logos-4031x3023-20220524.jpeg?crop=1:1,smart&width=1200&dpr=2);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Serif;
    border: 10px solid black; 
    border-radius: 50px
    
}
    .time {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        
    }
        .time  img {
        height: 300px;
        width: 400px;
        border: 3px solid black;
        border-radius: 50px;
        
    }
        .timetext {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 2rem;
            
        }
    .timedata{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0;
        font-size: 10px;
        

    }
.temperature {
    background-image: url(https://images2.alphacoders.com/695/695380.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Fantasy;
    border: 10px solid black; 
    border-radius: 50px
    
}
    .temp {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        

    }
        .temp  img {
            height: 300px;
            width: 400px;
        border: 3px solid black;
        border-radius: 50px;
        
    }
        .temptext {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 2rem;
            
        }
    .tempdata{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0;
        font-size: 10px;
        
    }
.humidity {
    background-image: url(https://c0.wallpaperflare.com/preview/200/15/593/united-states-middleburg-trees-heat.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Monospace;
    border: 10px solid black; 
    border-radius: 50px
}
    .humi {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        

    }
        .humi  img {
            height: 300px;
            width: 400px;
        border: 3px solid black;
        border-radius: 50px;
        
    }
        .humitext {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 2rem;
            
        }
    .humidata{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0;
        font-size: 10px;
        
    }
.luxsensor {
    background-image: url(https://images.pexels.com/photos/1556704/pexels-photo-1556704.jpeg?cs=srgb&dl=pexels-daniel-reche-718241-1556704.jpg&fm=jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Monospace;
    border: 10px solid black; 
    border-radius: 50px
}
    .lux {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        

    }
        .lux  img {
            height: 300px;
            width: 400px;
        border: 3px solid black;
        border-radius: 50px;
        
    }
        .luxtext {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 2rem;
            
        }
    .luxdata{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0;
        font-size: 10px;
        
    }
.motion {
    background-image: url(/image/the\ boys.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Garamond;
    border: 10px solid black; 
    border-radius: 50px
}
    .mot {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        @media screen and (max-width: 450px ) {
            align-items: center; 
            text-align: center;
            flex-direction: column;
            padding-top: 0 3ram ;
            height: auto;
            width: auto;
        }
        

    }
        .mot  img {
            height: 300px;
            width: 400px;
        border: 3px solid black;
        border-radius: 50px;
        @media screen and (max-width: 450px ) {
            align-items: center; 
            text-align: center;
            flex-direction: column;
            padding-top: 0 3ram ;
            height: auto;
            width: auto;
        }
    }
        .mottext {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0rem 2rem;
            @media screen and (max-width: 450px ) {
                align-items: center; 
                text-align: center;
                flex-direction: column;
                padding-top: 0 3ram ;
                height: auto;
                width: auto;
            }
        }
    .motdata{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 100px 0;
        font-size: 10px; 
        @media screen and (max-width: 450px ) {
            display: flex;
            align-items: center; 
            text-align: center;
            flex-direction: column;
            padding-top: 0 3ram ;
            height: auto;
            width: auto;
        }
    }
    
    
    
    





    .api-post{
        border: 1px solid #D9E1E2;
        margin: 50px 0;
        padding: 10px 20px;
        background-color: #f40823;
    }
    .api-post-box-name{
        text-align: left;  
    }
    .box-input-text{
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #cccccc;
    }
    .api-post-box-id{
        text-align: left;
    }
    
    .Type-Name button{
        margin: 10px 0;
    }


    
