*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;    
    justify-content: space-between;
    background-color: gainsboro;
    height: 100px;
    align-items: center;
    padding: 0 5rem;
    font-size: 20px;
    font-weight: bold;

    & .logo {
        & img{
            width: 100px;
            height: 80px;
            background-position: center;
            background-size: cover;
        }
    }

    & .menu{
            display: flex;
            list-style: none;

            & li {
                margin: 0 1rem;
                & a{
                    color: black;
                    text-decoration: none;
            
                }

            }
    }
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;

        & .menu{
            margin-top: 2rem;
            flex-direction: column;
            align-items: center;
        }
    }
}
.banner {
    height: 600px;
    background-image: url("/image/89.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    & .welcome-img{
        width: 300px;
        height: 400px;
        background-position: center;
        background-size: cover;
    }
}
footer{
    display: flex;
    justify-content: space-between;   
    background-color: gray;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 5rem;   
    font-size: 10px;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 569px;
    background-image: url(/image/paper.jpg);
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 450px ) {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
main div {
    padding: 20px;
    font-size: 20px;
    @media screen and (max-width: 450px ) {
        display: grid;
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
main img {
    width: 100%;
    @media screen and (max-width: 450px ) {
        display: grid;
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
.contact{
    display: flex;
    height: 100%;
    background-image: url(/image/white.jpg);
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
.contact div {
    padding: 20px;
    font-size: 20px;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
.contact img {
    width: 100px;
    height: 100px;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding-left: 15px;
    text-align: center;
    @media screen and (max-width: 450px ) {
        flex-direction: column;
        height: auto;
        padding-top: 0 3ram ;
    }
}
    & .contact-box{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: 0 20px;
        @media screen and (max-width: 450px ) {
            flex-direction: column;
            height: auto;
            padding-top: 0 3ram ;
        }
    }
    & .link {
        margin: 0 1rem;
        @media screen and (max-width: 450px ) {
            flex-direction: column;
            height: auto;
            padding-top: 0 3ram ;
        }
    }
    &.map iframe{
        @media screen and (max-width: 300px ) {
            flex-direction: column;
            height: 100px;
            width: 100px;
            padding-top: 0 3ram ;
        }
    }
.internship {
        justify-content: center;
        align-items: center; 
        flex-direction: row;
        text-align: center;
        background-color: blanchedalmond;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 450px ) {
            flex-direction: column;
            height: auto;
            padding-top: 0 3ram ;
        }
}
    & .siam{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin: 0 20px;
            flex-direction: column;
            @media screen and (max-width: 450px ) {
                flex-direction: column;
                height: auto;
                padding-top: 0 3ram ;
            }
    }
    & .scg {
            margin: 0 1rem;
            padding-top: 50px;
            padding-bottom: 50px;

            @media screen and (max-width: 450px ) {
                flex-direction: column;
                height: auto;
                padding-top: 0 3ram ;
            }
            &.scg img {
                height: 50%;
                width: 50%;
            }
    }
.education {
        justify-content: center;
        align-items: center; 
        flex-direction: row;
        text-align: center;
        background-color: burlywood;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 450px ) {
            align-items: center; 
            text-align: center;
            flex-direction: column;
            height: auto;
            padding-top: 0 3ram ;
        }
}
    & .school{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            flex-direction: column;
            margin: 0 20px;
            @media screen and (max-width: 450px ) {
                align-items: center; 
                text-align: center;
                flex-direction: column;
                height: auto;
                padding-top: 0 3ram ;
            }
    }
    & .sbw {
            margin: 0 1rem;
            padding-top: 50px;
            padding-bottom: 50px;
            @media screen and (max-width: 450px ) {
                align-items: center; 
                text-align: center;
                flex-direction: column;
                padding-top: 0 3ram ;
                height: auto;
                width: auto;
            }
            &.sbw img{
                height: 30%;
                width: 30%;
            }
        }


    
    

.portfolio {
        justify-content: center;
        align-items: center; 
        flex-direction: row;
        text-align: center;
        background-color: darkolivegreen;
        background-position: center;
        background-size: cover;
        @media screen and (max-width: 450px ) {
            flex-direction: column;
            height: auto;
            padding-top: 0 3ram ;
        }
}
    & .port{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            margin: 0 20px;
            flex-direction: column;
            @media screen and (max-width: 450px ) {
                flex-direction: column;
                height: auto;
                padding-top: 0 3ram ;
            }
    }
    & .pf {
            margin: 0 1rem;
            padding-top: 50px;
            padding-bottom: 5px;
            @media screen and (max-width: 450px ) {
                flex-direction: column;
                height: auto;
                padding-top: 0 3ram ;
            }
            &.pf img {
                height: 30%;
                width: 30%;
            }
    }